   <div class="page-heading about-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Background</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/feature-image.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Who we are &amp; What we do?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>
            <ul class="social-icons">
              <li><a><i class="fa fa-facebook"></i></a></li>
              <li><a><i class="fa fa-twitter"></i></a></li>
              <li><a><i class="fa fa-linkedin"></i></a></li>
              <li><a><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Team Members</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img style="height: 300px;" src="assets/images/hossam.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="https://www.facebook.com/hossam.kamel.359"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/hossam-kamel-a4bb41a5"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Hossam Kamal</h4>
              <span>CTO</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img style="height: 300px;" src="assets/images/hamed.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="https://www.facebook.com/ahmed.m.hamed.927"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/ahmed-hamed-7b8b20146/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Ahmed Hamed</h4>
              <span>CEO / Founder</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img style="height: 300px;" src="assets/images/abdo.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="https://www.facebook.com/Abd0Gamal"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abdelrahman-gamal-sayed/"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Abdelrahman Gamal</h4>
              <span>Developer</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Product Management</h4>
              <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
              <a class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Customer Relations</h4>
              <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
              <a class="filled-button">Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Global Collection</h4>
              <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
              <a class="filled-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="happy-clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Happy Partners</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div>
            <div class="client-item">
              <img src="assets/images/Schlumberger.png" alt="1">
            </div>
            
            <div class="client-item">
              <img src="assets/images/schneider.png" alt="2">
            </div>
            
            <div class="client-item">
              <img src="assets/images/microsoft.png" alt="3">
            </div>
            
            <div class="client-item">
              <img src="assets/images/valeo.png" alt="4">
            </div>
            
            <div class="client-item">
              <img src="assets/images/ibm.png" alt="5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>