<form [formGroup]="productform" class="addProductForm col-md-4 col-sm-6">
  <h3 style="text-align: center; margin-bottom: 5%;">Add Product</h3>
    <div class="form-group">
      <div *ngIf="preview && preview !== null">
        <img class="image" [src]="preview" [alt]="productform.value.name">
      </div>
      <div *ngIf="!preview && preview == null">
        <img class="image" src="assets/images/product-default.jpg" [alt]="productform.value.name">
      </div>
    </div>
    <div class="form-group">
      <label for="Title">Title</label>
      <input formControlName="title" type="text" class="form-control" id="Title">
      <small class="form-text text-muted">choose sutable name for your product.</small>
      <p style="color: red;" *ngIf="title.touched && title.hasError('required')">
        Title is <strong>required</strong>
      </p>
    </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Picture</label>
        <input (change)="uploadFile($event)" type="file" class="form-control-file" id="exampleFormControlFile1">
        <p style="color: red;" *ngIf="imageSizeError">
          file size can't exceed <strong>5 mb</strong>
        </p>
        <p style="color: red;" *ngIf="imageFormatError">
          Only .png, .jpg and .jpeg format allowed!
        </p>
      </div>
    <div class="form-group">
      <label for="price">price</label>
      <input formControlName="price" type="number" class="form-control" id="price">
      <p style="color: red;" *ngIf="price.touched && price.hasError('required')">
        price is <strong>required</strong>
      </p>
      <p style="color: red;" *ngIf="price.touched && price.hasError('min') && !price.hasError('required')">
        price can't be less than 0
      </p>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea formControlName="description" class="form-control" id="Description" rows="3"></textarea>
      </div>
    <button #submitBtn style="margin-bottom: 10%;" [disabled]="!productform.valid || imageSizeError || imageFormatError" (click)="addProduct()" type="submit" class="btn btn-primary">Submit</button>
  </form>